*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh; 
     background-image: url(/img/IMG-20211013-WA0036.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2{
    position: relative;
    font-size: 4em;
    color: #fff;
    overflow: hidden;
}

h2:before{
    content: '';
    position: absolute;
    left: 120%;
    width: 120%;
    height: 100%;
    background: linear-gradient(90deg, transparent 0%, purple 5%, purple 100%);
    animation: animate 10s linear forwards;
}

@keyframes animate {
    0%{
        left: -20%;
    }
    100%{
        left: 120%;
    }
}

.second{
    position: relative;
    width: 100%;
    height: 100vh;
    background: magenta !important;
    overflow: hidden;
}

.second .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(/img/wave.png);
    background-size: 1000px 100px;
}

.second .wave.wave1 {
animation: animate 30s linear infinite;
z-index: 1000;
opacity: 1;
animation-delay: 0s;
bottom: 0;
}

.second .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity:0.5;
    animation-delay: -5s;
    bottom: 10px;
    }

.second .wave.wave3 {
        animation: animate3 30s linear infinite;
        z-index: 998;
        opacity:0.2;
        animation-delay: -2s;
        bottom: 15;
}

.second .wave.wave4 {
    animation: animate4 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}

@keyframes animate {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

@keyframes animate3 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}

@keyframes animate4 {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: -1000px;
    }
}